{% block header %}
  <div>

    {% if function('is_front_page')and not theme.theme_mod('header_banner_visibility') %}
      <div class="jumbotron paral paralsec imgba d-flex flex-column justify-content-end">
        <h1 class="display-3">{{ theme.theme_mod('header_banner_title_setting')}}</h1>
        <p class="lead">{{ theme.theme_mod('header_banner_tagline_setting')}}</p>
        <p class="lead">
          <a class="btn btn-info btn-lg btn-md" href="{{ theme.theme_mod('header_banner_buturl_setting')}}" role="button">{{ theme.theme_mod('header_banner_tagbutton_setting')}}</a>
        </p>
      </div>
    </div>
    <style>
      .imgba {
        background-image: url({{ theme.theme_mod('header_image')}});
        height: 90vh;
        width: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed !important;
        background-size: cover !important;
        background-position: center !important;
      }
    </style>
  {% endif %}

  {% if post.enable_carousel %}
    {% include 'partials/carousel.twig' %}
  {% endif %}

  {% if post.enable_jumbotron %}
  <a name="youget"></a>
    {% include 'partials/jumbotron.twig' %}
  {% endif %}

  {% if post.enable_product_landing %}
      {% include 'partials/product-landing.twig' %}
  {% endif %}
  <main role="main" class="container ">

  {% if post.add_custom_widgets %}
    {% block sidebar_custom %}
      {% include 'partials/top-bar-custom.twig' %}
    {% endblock %}
  {% endif %}


  {% if post.enable_jumbotron %}

    {% include 'partials/jumbotron2.twig' %}
  {% endif %}

  {% if post.enable_feature_list %}
    {% include 'partials/features.twig' %}
  {% endif %}

{% endblock %}
