{{ loop.index is odd ? '<div class="card-deck mt-3 mb-3">' : ''}}
  <div class="card  box-shadow">
      {% if post.thumbnail %}
    <img class="card-img-top" src="{{ post.thumbnail.src }}" alt="Image for {{post.title}}">
    <div class="card-header">
      <h4 class="card-title mt-o mb-0 pt-0 pb-0">{{ post.title }}</h4>
      <span class="entry-meta text-muted">
        {% if fn('is_author') %}
          {{"Written by: "}}{{wp_title}}
        {% elseif fn('is_archive') %}

        {% else %}
          <span>By</span>
          <a href="{{post.author.path}}">
            {{ post.author.name }}
          </a>
          <span>&bull;</span>{{" Modified on:"}}
          {{ post.post_modified | date('F j, Y') }}
          {% endif %}
        </span>
      </div>
      {% else %}
      <div class="card-img-top">
        <div class="jumbotron bg-primary text-white mb-0">
          <center>
            <h2 class="display-5">{{ post.title }}</h2>
          </center>
        </div>
      </div>
      <div class="card-header pt-4">
        <span class="entry-meta text-muted  ">
          {% if fn('is_author') %}
            {{"Written by: "}}{{wp_title}}
          {% elseif fn('is_archive') %}
            {{"Posted on: "}}{{ post.date }}
          {% else %}
            <span>By</span>
            <a href="{{post.author.path}}">
              {{ post.author.name }}
            </a>
            <span>&bull;</span>{{" Modified on:"}}
            {{ post.post_modified | date('F j, Y') }}
            {% endif %}
          </span>
      </div>

    {% endif %}
      <div class="card-body">
      {{post.get_preview(50, 1, '')}}
    </div>
    <div class="card-footer  mt-4">
      <a class="btn btn-primary" href="{{ post.link }}" role="button">Continue reading</a>
    </div>
  </div>

{{ loop.index is even ? '</div>' : ''}}
{{ loop.last and loop.index is odd ? '</div>' : ''}}
